

.text-blue{
color: #007BFF;
}
.bg-blue{
    background-color: #007BFF;
    color: white;

}
.bg-blue i {
    font-size: 25px;
    margin-bottom: 20px;
}
.card-footer .bg-blue{
    background-color: #007BFF;
    color: white;
}
.card-footer .bg-blue:hover{
    background-color: #7BB1FF;
    color: white;

}
.btn-blue{
    background-color: #007BFF;
    color: white;
}
.btn-blue:hover{
    background-color: #7BB1FF;
    color: white;
}
.input-pencarian{
background: white;
height: 40px;
text-align: justify;
}
.input-pencarian:focus{
    background: white;
    }
.sidenav{
background-image: url('/asset/bg-sidebar.png');
background-repeat: no-repeat;
background-size: contain;
background-size: cover;
}
@media (min-width: 320px) and (max-width: 767px){

    a .logo-navbar{
        /* margin-left: -120px; */
    }
}
