

.text-blue{
color: #007BFF;
}
.bg-blue{
    background-color: #007BFF;
    color: white;

}
.bg-blue i {
    font-size: 25px;
    margin-bottom: 20px;
}
.card-footer .bg-blue{
    background-color: #007BFF;
    color: white;
}
.card-footer .bg-blue:hover{
    background-color: #7BB1FF;
    color: white;

}
.btn-blue{
    background-color: #007BFF;
    color: white;
}
.btn-blue:hover{
    background-color: #7BB1FF;
    color: white;
}
.input-pencarian{
background: white;
height: 40px;
border: 1px solid grey;
text-align: justify;
}
.form-detained-item{

    background-color: white;
    border: 1px solid grey;
    width: 400px;
    margin-left: 10px;
}
.form-detained-item:focus{
    background-color: white;
    border: 1px solid grey;
    width: 400px;
    margin-left: 10px;
}
.input-pencarian:focus{
    background: white;
    }
.sidenav{
background-image:url('/asset/bg-sidebar.png');
background-repeat: repeat;
}
@media (min-width: 320px) and (max-width: 767px){

    a .logo-navbar{
        /* margin-left: -120px; */
    }
}
